$mainColor: #ff4077;
$fontColor:  #1e1e1e;
$checkColor: #2070ee;

.App{
    overflow: hidden;
    div.illust{
        & > img, div{
            z-index: -1;
        }
        & > .Piece_1 {
            top: 302px;
            position: absolute;
            width: 92px;
            height: 146px;
        }

        & > .Piece_2{
            left: 148px;
            top: 1870px;
            position: absolute;
        }

        & > .Piece_3{
            right: 218px;
            top: 2045px;
            position: absolute;
        }

        & > .Landing_illust_1{
            top: 64px;
            position: absolute;
            right: 0;
            width: 696px;
            height: 742px;
        }

        & > .Landing_illust_2 {
            position: absolute;
            left: 62px;
            top: 972px;
            width: 639px;
            height: 475px;
            background-image: url("../assets/landing-illust-2.png");

            & > span{
                position: absolute;
                font-size: 32px;
                font-weight: 900;
                color: #ffffff;
                top: 55px;
                right: 77.5px;
            }
        }

        & > .Landing_illust_3{
            top: 2554px;
            position: absolute;
            left: 153px;
            width: 603px;
            height: 487px;
        }
    }
    & > div.content-1st{
        margin-left: 13%;
        margin-top: 243px;

        & > span{
            display: inline-block;
        
            height: 71px;
            font-size: 48px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $fontColor;
            & > img{
                width: 189.1px;
                height: 40.9px;
            }
        }

        & > p{
            margin-top: 32px;
            margin-bottom: 0px;
            font-size: 16px;
        }

        & > div{
            margin-top: 64px;
            display: flex;
            justify-content: space-between;
            width: 450px;
            & > a{
                & > img{
                    width: 213px;
                    height: 64px;
                }
            }
        }
    }

    & > div.content-2nd{
        margin-left: 361px;
        margin-top: 520px;
        
        & > div.letters{
            display: inline-block;
            margin-left: 115px;
            & > span{
                font-size: 36px;
                font-weight: bold;
                color: $fontColor;
            }
            & > p{
                margin-top: 32px;
                margin-bottom: 0px;
                font-size: 16px;
                color: $fontColor;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
            }
        }

        & > div.checks{
            display: inline-block;
            width: 416px;
            & > div{
                &:not(:first-child){
                    margin-top: 42px;
                }

                &:nth-child(3){
                    margin-left: 41px;
                }
                &:nth-child(5){
                    margin-left: 82px;
                }
                height: 40px;
                display: inline-block;
                & > div{
                    border-radius: 20px;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    & > .check{
                        margin-top: -1px;
                        margin-left: -2px;
                        display: inline-block;
                        width: 36px;
                        height: 36px;
                        border: 4px solid $checkColor;
                        border-radius: 30px;
                    }
        
                    & > .content{
                        display: inline-block;
                        padding: 8px 18px 8px 14px;
                    }
                }
            }
        }
    }

    & > div.content-3rd{
        margin-left: 217px;
        margin-top: 359px;

        & > span{
            font-size: 36px;
            font-weight: bold;
            color: $fontColor;
        }

        & > p{
            margin-top: 32px;
            margin-bottom: 0px;
            font-size: 16px;
            color: $fontColor;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
        }

        & > .cards-parent{
            margin-top: 92px;
            display: flex;
            flex-direction: row;
            overflow-x: scroll;
            & > .cards{
                margin-right: 28px;
                min-width: 294px;
                height: 428px;
                border-radius: 12px;
                box-shadow: 0 24px 42px 0 rgba(0, 0, 0, 0.15);
                background-color: #ffffff;

                &:first-child{
                    text-align: center;
                    display: inline-block;
                }

                &:not(:first-child){
                    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
                    opacity: 0.4;
                    display: inline-block;

                    & > span:nth-child(1){
                        display: block;
                        height: 36px;
                        margin-top: 244px;
                        margin-left: 24px;
                        font-size: 24px;
                        font-weight: bold;
                        color: #fff;
                    }

                    & > span:nth-child(2){
                        height: 24px;
                        margin-left: 24px;
                        margin-top: 4px;
                        font-size: 16px;
                        font-weight: normal;
                        color: #fff;
                    }

                    & > p{
                        margin-left: 24px;
                        width: 246px;
                        height: 72px;
                        font-family: NotoSansCJKkr;
                        font-size: 16px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #ffffff;
                      }

                    
                }

                & > span.apply{
                    margin-top: 148px;
                    text-align: center;
                    display: inline-block;
                    font-size: 18px;
                    font-weight: bold;
                    height: 27px;
                    & > img.logo{
                        width: 69.2px;
                        height: 15px;
                    }

                    & > p{
                        font-size: 14px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        text-align: center;
                        color: $fontColor;
                    }

                    & > button{
                        margin-top: 32px;
                        font-size: 14px;
                        font-weight: bold;
                        padding: 8px 36px;
                        color: $mainColor;
                        border: 3px solid $mainColor;
                        border-radius: 18px;
                    }
                }
            }
        }
    }

    & > div.content-4th{
        margin-top: 325px;
        margin-left: 893px;

        & > span{
            font-size: 36px;
            font-weight: bold;
            color: $fontColor;
        }

        & > p{
            margin-top: 32px;
            margin-bottom: 0px;
            font-size: 16px;
            color: $fontColor;
        }

        & > ul{
            width: 330px;
            margin-top: 73px;
            list-style: none;

            & > li{
                padding: 12px 0px;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid rgba(255, 64, 119, 0.2);
                font-size: 16px;
                font-weight: bold;
            }
        }
    }

    & > div.content-5th{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 378px;
        & > p{
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 48px;
            font-weight: 300;
            & > img{
                width: 190px;
                height: 41px;
            }
        }

        & > div.AppStore{
            margin-top: 64px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: space-between;
            width: 450px;
            & > a{
                & > img{
                    width: 213px;
                    height: 64px;
                }
            }
        }
    }
}