@import '../../styles/_colors.scss';

.content-5th{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 378px;
    & > p{
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 48px;
        font-weight: 300;
        & > img{
            width: 190px;
            height: 41px;
        }
    }

    & > div.AppStore{
        margin-top: 64px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        width: 450px;
        & > a{
            & > img{
                width: 213px;
                height: 64px;
            }
        }
    }
}