@import '../../styles/_colors.scss';
@import '../../styles/breakpoints.scss';

.NotFound{
    display: flex;
    flex-direction: column;
    & > img{
        @media (min-width: $small) {
            position: absolute;
            margin-top: 250px;
            margin-left: 720px;
        }

        @media (max-width: $small) {
            margin-top: 76px;
        }
    }
    & > h1{
        @media (min-width: $small) {
            margin-top: 389px;
            margin-left: 217px;
            font-size: 48px;
        }

        @media (max-width: $small) {
            width: 250px;
            height: 36px;
            justify-content: center;
            margin: 24px auto 0px auto;
            text-align: center;
            font-size: 24px;
            display: inline-block;
        }
        font-weight: 300;
        color: $fontColor;
    }
    & > p{
        @media (min-width: $small) {
            margin-left: 217px;
            margin-top: 24px;
            margin-bottom: 0px;
            font-size: 16px;
        }
        
        @media (max-width: $small) {
            margin-top: 24px;
            font-size: 14px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        font-weight: normal;
        color: $FontColor404
    }
    
    & > button{
        @media (min-width: $small) {
            padding: 11px 30px;
            margin: 42px 0px 0px 217px;
            width: 167px;
        }

        @media (max-width: $small) {
            padding: 8px 17.5px;
            margin: 40px auto 0px auto;
            width: 142px;
        }
        background-color: #fff;
        border: 3px solid $mainColor;
        border-radius: 21px;
        font-size: 14px;
        font-weight: bold;
        color: $mainColor;
        text-decoration: none;
    }
}