@import '../../styles/_colors.scss';
@import '../../styles/breakpoints.scss';

.content-1st{
    color: $fontColorWhite;
    @media(min-width: $small) {
        margin-left: 13%;
        margin-top: 243px;
    }

    @media(max-width: $small) {
        margin-left: 0px;
        margin-top: 478px;
        text-align: center;
    }

    & > .MobileAppStore{
        @media(min-width: $small) {
            display: none;
        }

        @media(max-width: $small) {
            width: 100vw;
            display: block;
            margin: 32px 0px;
        }

        & > a{
            &:nth-child(1){
                margin-right: 16px;
            }
            & > img{
                width: 113px;
                height: 34px;
            }
        }
    }

    & > span{
        display: inline-block;
        font-size: 48px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;

        @media(max-width: $small) {
            height: auto;
            font-size: 24px;
            font-weight: 300;
        }

        @media(min-width: $small) {
            min-width: 470px !important;
            height: 36px;
            height: 71px;
        }
        & > img{
            @media(max-width: $small) {
                width: 92px;
                height: 20px;
            }
            margin-left: 3px;
            width: 189.1px;
            height: 40.9px;
        }
    }

    & > p{
        margin-top: 32px;
        margin-bottom: 0px;
        font-size: 16px;
        
        @media (min-width: $small) {
            min-width: 470px !important;
            & > br  {
            content: ' '
            }  
        }

        @media (max-width: $small) {
            text-align: center;
        }
    }

    & > div{
        margin-top: 64px;
        display: flex;
        justify-content: space-between;
        width: 450px;

        @media(max-width: $small) {
            display: none;
        }
        & > a{
            & > img{
                width: 213px;
                height: 64px;
            }
        }
    }
}