$mainColor: #ff4077;
$backColor: #6b40ff;
$checkColor: #2070ee;
$fontColor:  #1e1e1e;
$fontColorWhite: #ffffff;
$fontColor404: #b7b7b7;
$footerBack: #fafafa;
$footerColor: #686868;
$footerBold: #202020;
$footerLogo: #9b9b9b;
$headerColor: #979797;
$headerHover: #1e1e1e;
