$headerColor: #979797;
$headerHover: #1e1e1e;

.Header{
    position: fixed !important;
    padding: 20px 13%;
    background-color: #fff;
    box-shadow: 0px 10px 50px -25px #010101;
    position: relative;
    margin: 0;
    display: block;
    color: $headerColor;
    align-items: center;
    width: calc(100% - 26%);
  
    & > ul{
      justify-content: space-between;
      margin: 0px;
      padding: 0px;
      list-style-type: none;
      display: flex;
      box-sizing: border-box;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: nowrap;
      list-style-position: outside;
  
      & > li{
        margin: 0;
        display: list-item;
        text-align: -webkit-match-parent;
        &:nth-child(1){
          align-self: center;
          flex-grow: 1;
          box-sizing: border-box;
          width: auto;
          min-width: 0;
          flex-basis: 0;
          padding: 0!important;
          display: flex;
          justify-content: space-between;
  
          & > a{
            display: inline-block;
            line-height: 0;
            vertical-align: bottom;
  
            & > img{
                width: 69.2px;
                height: 15px;
            }
          }
        }
  
        &:nth-child(2){
          align-self: center;
          padding: 0;
          flex-grow: 0;
          flex-shrink: 0;
          flex-basis: auto;
          width: initial;
          min-width: 0;
  
          & > div{
            display: flex;
            -webkit-box-pack: start;
            justify-content: flex-start;
            box-sizing: border-box;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            flex-direction: row;
            flex-wrap: nowrap;
  
            & > div{
                margin-left: 64px;
              align-self: center !important;
              padding: 0;
              flex-grow: 0;
              flex-shrink: 0;
              flex-basis: auto;
              width: initial;
              box-sizing: border-box;
              min-width: 0;
              display: block!important;
  
              & > a{
                  color: $headerColor;
                  text-decoration: none;

                  &:hover{
                      color: $headerHover;
                      font-weight: 700;
                  }
              }
            }
          }
        }
      }
    }
  }