@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans CKR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
